---
import Layout from "../layout/layout.astro"

---

<Layout title="About">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias impedit aut corporis nulla repudiandae blanditiis cupiditate ab vitae ut, unde exercitationem expedita nihil doloremque ratione voluptatibus at. Asperiores, rem. Harum.</p>
</Layout>